
.card__button {
    @extend .card__text; 
    bottom: 21px !important;
    width: 132px;
    height: 30px;
    left: 38%;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 0 0 0;
    text-decoration: none;
    opacity: 0;
}

.card__large .card__button {
    left: 43%;
}

.card__slim .card__button {
    left: 29%;
}

.card:hover .card__button {
    transition: 1s ease-in-out;;
    opacity: 1;
  }