<div class="card card--{{size}}">
    {{> '@card__image' }}
    <p class="card__pre-title">{{pre-title}}</p>
    <p class="card__title">{{title}}</p>
    <p class="card__text">{{text}}</p>
    <div class="card__overlay"></div>
    {{> '@card__button' }}
</div>