<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    <link rel="stylesheet" href="{{path '/dev-valtech/css/styles.css'}}">
	 <script type="text/javascript" src="{{path '/dev-valtech/js/card_image.js'}}">
    <title>Preview</title>
</head>

<body>

    {{{ yield }}}


</body >
</html >